*{
    padding: 0px;
    margin: 0px;
}



.categories-section .container {
	margin-bottom: -34px;
}

.categorie-item {
	margin-bottom: 34px;
	background: #edf4f6;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
    
}

.categorie-item .ci-thumb {
	background-size: cover;
	height: 148px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.categorie-item .ci-text {
	padding: 40px 35px;
    
}

.categorie-item .ci-text h5 {
	margin-bottom: 5px;
}

.categorie-item .ci-text span {
	font-size: 18px;
	font-weight: 600;
	color: #d82a4e;
}

.categorie-item:hover {
	background: #d82a4e;
}

.categorie-item:hover .ci-text h5,
.categorie-item:hover .ci-text p,
.categorie-item:hover .ci-text span {
	color: #fff;
}
.div {
    display: flex;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin: 5%;
}
img{
    margin-top: 30px;
}
